alembic
asgiref
blinker
certifi
charset-normalizer
click
colorama
datetime
django
django-jazzmin
flask
flask-migrate
flask-sQLAlchemy
gunicorn
idna
itsdangerous
Jinja2
Mako
MarkupSafe
numpy
packaging
pandas
psycopg2-binary
python-dateutil
python-dotenv
pytz
random2
requests
setuptools
six
SQLAlchemy
sqlparse
typing_extensions
tzdata
urllib3
Werkzeug
whitenoise
xlrd
XlsxWriter
zope.interface
django-cors-headers
pydantic
python-dateutil
django-ninja
openpyxl
email-validator
streamlit
streamlit-autorefresh
tensorflow
numpy
pillow
pandas
